.newSecretButton {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 2);
  margin-top: var(--spacing-unit);
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-appearance: none;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--light-gray-color);
  transition: width 1s linear;
}

.buttonText {
  position: relative;
  z-index: 1;
  color: var(--text-color);
}
