.newSecretButton {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  margin-top: 8px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-appearance: none;
}
  
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #eee;
  transition: width 1s linear;
}

.buttonText {
  position: relative;
  z-index: 1;
  color: #000;
}
