.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  box-sizing: border-box;
}

.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: monospace;
  font-size: 12px;
}

.navLink {
  text-decoration: underline;
  color: var(--primary-color);
}
