.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: monospace;
    font-size: 12px;
}

.footerLink {
    text-decoration: none;
    color: #000;
}

@media (min-width: 600px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 1200px;
    }
}
