.pageWrapper {
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.title {
  font-size: 1.4em;
  margin-bottom: calc(var(--spacing-unit) * 2);
  text-align: center;
}

.section {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

.section h2 {
  font-size: 1.05em;
  margin-bottom: var(--spacing-unit);
  color: var(--text-color);
}

.section p {
  line-height: 1.5;
  color: var(--dark-gray-color);
  font-size: 0.95em;
}

.section ul {
  margin: 0;
  padding-left: calc(var(--spacing-unit) * 2.5);
  color: var(--dark-gray-color);
  line-height: 1.5;
  font-size: 0.95em;
}

.section li {
  margin-bottom: calc(var(--spacing-unit) / 4);
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--hover-color);
}

.backLink {
  display: inline-block;
  margin-top: var(--spacing-unit);
  color: var(--dark-gray-color);
  text-decoration: underline;
}

.backLink:hover {
  color: var(--primary-color);
}
