:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --background-color: #fff;
  --text-color: #000;
  --border-color: #eee;
  --light-gray-color: #eee;
  --medium-gray-color: #ccc;
  --dark-gray-color: #666;
  --hover-color: #333;
  --error-color: #d93025;
  --warning-background-color: #ffc;
  --spacing-unit: 8px;
}

html, body, #app {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%;
    padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 2);
    margin-bottom: calc(var(--spacing-unit) * 2);
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 0;
    background-color: var(--light-gray-color);
    -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--medium-gray-color);
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 2);
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.error {
    color: var(--error-color);
}
