html, body, #app {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 1px solid #eee;
    border-radius: 0;
    background-color: #eee;
    -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #ccc;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.error {
    color: #d93025;
}
